.navbar {
    width: 100%;
    right: 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid rgb(235, 231, 231);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav-name {
    font-size: 2.5rem;
    color: #0056b3;
    font-family: fantasy;
}

.icon-container {
    background-color: #0056b3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35;
    margin: 3px;
}

.icon {
    color: white;
    font-size: 15px;
}

.toggle-nav-btn {
    background: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.toggle-nav-btn:hover {
    background: #0056b3;
    transform: scale(1.05);
}

.toggle-nav-btn:active {
    background: #003f7f;
    color: white;
    transform: scale(0.95);
}